body {
  display: flex;
  flex-direction: column;
  margin: 0px;
}

.header a {
  text-decoration: none;
  color: white;
}

.niners-logo {
 height: 40px;
 width: auto;
}

.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
  background-color: #1F2937;
}

.navbar-links {
  display: flex;
  gap: 20px;
  font-size: 24px;
}

.header .content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  padding: 50px 200px;
}

.content .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-intro{
  font-size: 48px;
  font-weight: bolder;
  text-align: left;
  margin: 0px;
}

.secondary-intro {
  font-size: 24px;
}

.content button {
  border: none;
  border-radius: 8px;
  background-color: #1F2937;
  color: white;
  font-size: 18px;
  text-align: center;
  padding: 8px 20px;
}

.niners-schedule img {
  width: 700px;
  height: 350px;
}


/* Squad Information */
#squad {
  text-align: center;
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 50px;
}

#squad h1 {
  font-size: 36px;
  font-weight: bold;
}

#squad .informations{
  display: flex;
  width: 1500px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 10px;
}

#squad img {
  width: 400px;
  height: auto;
}

#squad .information p {
  margin-top: 0px;
  font-size: 20px;
}
/* Squad Information */


/* 49ers Description */
#descriptions {
  padding: 50px 100px;
  text-align: center;
  font-size: 36px;
  background-color: #E5E7EB;
}
/* 49ers Description */


/* Social Media  */
#social-media {
  text-align: center;
  padding: 50px 100px;
  font-size: 24px;
}

#social-media .contact {
  display: flex;
  justify-content: center;
}

#social-media img {
  width: 40px;
}

#social-media a {
  text-decoration: none;
  color: #1F2937;
}
/* Social Media  */


/* Footer  */
.footer {
  text-align: center;
  background-color: #1F2937;
  color: white;
  font-size: 20px;
}
/* Footer  */